Source: claws-mail-indicator
Section: mail
Priority: optional
Maintainer: Marek Habersack <grendel@twistedcode.net>
Build-Depends: debhelper (>= 7.0.50~), 
  libglib2.0-dev (>= 2.15.5),
  libdbus-1-dev (>= 1.0),
  libdbus-glib-1-dev (>= 0.7),
  libclaws-mail-dev,
  libindicate-dev (>= 0.4.91),
  libnotify-dev,
  libcanberra-dev,
  libunity-dev (>= 3.8.4),
  dh-autoreconf
Standards-Version: 3.9.1
Homepage: http://grendello.github.com/claws-mail-indicator
Vcs-Git: git://github.com/grendello/claws-mail-indicator
Vcs-Browser: https://github.com/grendello/claws-mail-indicator

Package: claws-mail-indicator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, claws-mail (>= 3.7.0)
Description: Ubuntu indicator notification plugin for Claws Mail
 This plugin adds support for Ubuntu indicators (and Unity launcher) to Claws Mail.
 Notifications are displayed in the Messaging indicator, along with a menu containing
 some commonly used actions.

